@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

\*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background: RGBA(209, 227, 221, 0.6);
  background: radial-gradient(circle,rgba(209, 227, 221, 1) 61%, rgba(145, 190, 202, 1) 84%);
  overflow-x: hidden;
  font-family: "Manrope", "sans-serif";
}

.blueButtons a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Base button styles */
.blueButtons button {
  border-radius: 50px;
  background-color: #0496FF; /* Changed to a solid blue for better contrast */
  border: none; /* Removed the border */
  color: #FFFFFF;
  padding: 0.8em 1.5em; /* Adjusted padding for better button shape */
  font-size: 1rem; /* Base font size */
  transition: all 0.3s ease; /* Smooth transition on hover */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  display: inline-block; /* Ensure buttons stack properly */
  cursor: pointer;
  margin-bottom: 10px; /* Space between buttons */
}

/* Hover effect */
button:hover {
  transform: scale(1.05); /* Slightly larger on hover */
  background-color: #0381d1; /* Darker shade on hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Larger shadow for hover */
}