.about {
  color: rgb(0, 0, 0);
   /* 70% of the screen height */
  text-align: center; /* Centers the text */
  display: flex; /* Makes the items flex which means that they stack on top of each other or left to right */
  align-items: center; /* Centers the items vertically */
  justify-content: center; /* Centers the items horizontally */
  background-color: #FFFFFF;
}

/* Font size for h1 and p tags */
.aboutTitle{
  font-size: 2.5rem;
  font-weight: normal;
}

.about p {
  font-size: 1.2rem;
}
.fun-pic {
  float: left;
  margin-right: 15px;
  border-radius: 50%; /* Perfect circle if image is square */
  width: 150px;
  height: 150px; /* Optional: force circle if image isn't square */
  object-fit: cover; /* Ensures image fills the circle properly */
  margin-bottom: 20px; /* Base bottom spacing */
  box-shadow: 0px 5px 65px rgba(85, 82, 82, 0.5);
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltiptext a {
  background-color: black;
  color: #fff;
  text-decoration: none;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* Add extra bottom padding on large screens */
@media screen and (min-width: 1440px) {
  .fun-pic {
    margin-bottom: 80px; /* or more if needed */
  }
}

.content {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }