.experience {
  background-color: #fff;
  color: black;
  text-align: center;
  padding: 50px 0;
}

/* Font size for h1 tag and adds space below */
.experience h1 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-weight: normal;
}

/* Experience container - Now fully flexible */
.experienceContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allows wrapping while maintaining horizontal layout */
  gap: 20px; /* Adds spacing between items */
}

/* Experience items */
.experienceItem {
  width: calc(33.333% - 60px); /* Slightly reduced for better spacing */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Image size */
.experienceItem img {
  max-width: 130px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 20px;
}

/* Font size for h2 and p tags */
.experienceItem h2 {
  font-size: 1.3em;
  color: #333;
  margin: 10px 0;
}

.experienceItem p {
  color: #666;
  font-size: 0.9em;
  line-height: 1.4;
}


.college{
  color:#243E36; 
  font-family: "Space Grotesk", "Sans-serif"; 
  font-weight: 700;
}

.major{
  font-size:0.9rem; 
  font-family:  "Space Grotesk", "Sans-serif";
  color:#596F62; 
  font-weight: 600;
}

.grad{
  font-family: "Space Grotesk", "Sans-serif";
  font-size:0.9rem; 
  color:#243E36; 
  font-weight: 700;
}

.education {
  display: flex;
  justify-content: center;  
  align-items: center;      /* vertically center if there's height */
  flex-direction: column;   /* stack elements if you add text later */
  min-height: 50vh;         /* optional, gives some breathing room */
  
}
.uni{
  width: 200px;
  height:200px; 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  display: flex;             
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
 
}
.uni img{
  width:100%; 
  height:100%;
  object-fit: cover;
   border-radius: 50%;
   
}

@media (max-width: 768px) {
  .uni {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .uni {
    width: 120px;
    height: 120px;
  }
}